[submodule "inkpot"]
	path = inkpot
	url = git://github.com/ciaranm/inkpot.git
[submodule "gitgutter"]
	path = gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim-trailing-whitespace"]
	path = vim-trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace.git
[submodule "vim-slim"]
	path = vim-slim
	url = git@github.com:slim-template/vim-slim.git
[submodule "alchemist.vim"]
	path = alchemist.vim
	url = git@github.com:slashmili/alchemist.vim.git
[submodule "vim-elixir"]
	path = vim-elixir
	url = git@github.com:elixir-editors/vim-elixir.git
[submodule "vim-terraform"]
	path = vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule "vim-rhubarb"]
	path = vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
