[submodule "inkpot"]
	path = inkpot
	url = git://github.com/ciaranm/inkpot.git
[submodule "gitgutter"]
	path = gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim-multiple-cursors"]
	path = vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
