[submodule "inkpot"]
	path = inkpot
	url = git://github.com/ciaranm/inkpot.git
[submodule "gitgutter"]
	path = gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim-multiple-cursors"]
	path = vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim-trailing-whitespace"]
	path = vim-trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace.git
[submodule "vim-slim"]
	path = vim-slim
	url = git@github.com:slim-template/vim-slim.git
[submodule "vim-swift"]
	path = vim-swift
	url = git://github.com/toyamarinyon/vim-swift.git
